# Ignore configuration files that may contain sensitive information
app/config/config.php

# Ignore uploaded files
public/uploads/*
!public/uploads/no-image.jpg

# Ignore environment files
.env

# Ignore log files
*.log
logs/

# Ignore caches
*.cache

# Ignore compiled PHP files
*.phpz
*.phpt

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE and editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Ignore composer vendor directory
/vendor/
composer.lock
